.card{
    height: 300px;
    width: 400px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 100px;
    margin-left: 40%;
    border-style: dashed;
    border-width: 5px;
}
button{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    border-color:white;
    background-color: white;


}