@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');
nav{
    background-color: black;
    color: whitesmoke;
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font: weight 40px;;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 70%;
}

li:hover{
    color: aquamarine;
    cursor: pointer;
}
li:visited{
    color: yellow;
}

