.dashboard{
    display: grid;
    grid-template-columns: 1/4 2/4 1/4;   
    grid-template-rows: 80px auto 80px;   
    height: 100vh;
    gap: 10px;
}

.header{
    grid-column: 1 / 4;   
    background: #4A90E2;
}
.sidebar{
    background: #7ED321;
}
.main{
    background: #F5A623;
}

.widgets{
    background: #BD10E0;
}

.footer{
    grid-column: 1 / 4; 
    background: #4A90E2;
}