.c1{
height: 100px;
width: 100px;
background-color: aquamarine;
border-style: dotted;
border-color: red;
margin: 50px;
padding: 30px;
}
.c2{
height: 200px;
width: 200px;
background-color: lawngreen;
border-style: solid;
border-color: blue;
margin: 100px;
padding-top: 50px;
padding: 30px;
border-width: 10px;
border-radius: 5px;
}
.c3{
    height: 300px;
width: 300px;
background-color: yellow;
border-style: solid;
border-color:grey;
margin: 150px;
padding: 50px;
border-width: 20px;
border-radius: 10px;
}
